* {
    overflow-x: hidden;
}

header {
    background: rgba(0, 0, 0, 0.5) url(../assets/bkg1.jpg);
    height: 100%;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    
}